<footer class="row rodape">
            <div class="wrapper-rodape">
                <div class="col-xs-12 col-sm-12 col-md-5">
                    <h3>Multi</h3>
                    <p> Nemo enim ipsam voluptatem quia
                    voluptas sit aspernatur aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui
                    ratione voluptatem sequi nesciunt.</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <h3>Contato</h3>
                    <ul>
                        <li>Rua Exemplo 12, São Paulo - Brasil</li>
                        <li>(12) 3456-7890</li>
                        <li><a href="mailto:info@example.com">contact@example.com</a></li>
                    </ul>
                </div>
                <div class=" col-sm-12 col-md-3">
                    <h3>Redes Sociais</h3>
                    <ul>
                        <li><a href="#"><i></i>Facebook</a></li>
                        <li><a href="#"><i></i>Instagram</a></li>
                        <li><a href="#"><i></i>Twitter</a></li>
                    </ul>
                </div>
            </div>
</footer>
