<div class="container">

  <div class="row col-md-10 wrapper-sobre">

    <div class="sobre-text col-md-6">
      <h2>TRABALHO BOSTA</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
         exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute iru
         re dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pari
         atur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deseru
         nt mollit anim id est laborum.
      </p>
    </div>

    <div class="sobre-images col-md-6">
      <div class="img-1 col-sm-6"></div>
      <div class="img-2 col-sm-6"></div>
      <div class="img-3 col-sm-6"></div>
      <div class="img-4 col-sm-6"></div>
      <div class="img-4 col-sm-6"></div>
    </div>
  </div>

</div>

<app-footer></app-footer>
