<div class="container-fluid">
  <div class="banner">
    <div class="banner-text col-md-5">
      <h1>Inove e gere impacto <hr></h1>
    </div>
  </div>

  <div class="row col-md-10 wrapper-sobre">

    <div class="sobre-text col-md-6">
      <h2>Quem somos</h2>
      <hr>
      <h3>Nossa história</h3>
      <p>Criada em 2014, a Multi surge com uma proposta inédita no Brasil, atuar como uma plataforma de Hackathons e mentoria.
        Prestando serviços em todo o território nacional, mas com foco em São Paulo, carrega grandes experiências e resultados, com eventos para empresas privada e
        outros de cunho social, com objetivo de usar a mecânica do Hackathon para obter um bem comum.
        <br><br>
        Em 2017 a Multi entra em uma nova fase, bucando a consolidação no mercado, aumenta seus serviços de atuação,
        além dos Hackathons, entra no cenário de cursos, eventos e workshops, baseado no conceito de união de uma comunidade de estudantes,
        bastante ativa e engajada. O foco passa a ser um comunidade com o partilhamento de conhecimento, tanto para obter conhecimentos básicos ou aprofundandos.</p>
      <div class="sobre-img col-md-6">

      </div>

    </div>
  </div>

</div>

<app-footer></app-footer>
