.row{
  margin: 0;
}

.wrapper-servicos{
  padding: 0px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 50px;
}
h1{
  text-align: center;
  margin: 60px 0px;
  color: #b13761;
  font-size: 60px;
  font-family: 'Inconsolata', monospace!important;
}

.card{
  cursor: pointer;
}


.card .image{
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 20px 10px -15px rgba(0,0,0,0.4);
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

.card .image:hover{
  box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
  transform: translate(0px, -4px) scale(1.05);
}

.cursos{background-image: url("../../../assets/img/cursos.png");}
.hackathons{background-image: url("../../../assets/img/hackathons.png");}
.palestras{background-image: url("../../../assets/img/palestras.png");}
.workshops{background-image: url("../../../assets/img/workshops.png");}

.text{
    z-index: 1;
    position: relative;
    display: inline-block;
    font-weight: bold;
    text-align: left;
    color: #2c3e50;
    padding: 15px;
    margin: 15px 0;
    float: right;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    text-decoration: none;
    clear: both;
    width: 100%;
}

.text:hover{
  color: #fff;
}

.text:after{
  z-index: -1;
   position: absolute;
   top: 0;
   left: 0;
   content: "";
   display: inline-block;
   width: 0%;
   height: 100%;
   -webkit-transition: .2s ease-in-out;
   transition: .2s ease-in-out;
   background: black;
}

.curso-detail:after{background: #b13761;}
.hackathon-detail:after{background: #f6772a;}
.palestra-detail:after{background: #39c3d0;}
.workshop-detail:after{background: #0ea89e;}

.text:hover::after{
  width: 100%;
}


.card .curso-detail{border-left: 10px solid #b13761;}
.card .hackathon-detail{border-left: 10px solid #f6772a;}
.card .palestra-detail{border-left: 10px solid #39c3d0;}
.card .workshop-detail{border-left: 10px solid #0ea89e;}

.card .text h2, .card .text p{
  font-family: 'Montserrat', sans-serif!important;
  padding: 0px 10px;
}


@media (max-width: 991px) {
  .card{
    margin-bottom: 50px;
  }
}


@media (max-width: 768px) {
  h1{
    font-size: 30px;
  }
}
