
<div class="row">
  <h1>Veja o que oferecemos!</h1>
  <div class="servico bg-1 col-md-8 col-sm-10 col-xs-12">
    <div class="servico-img col-md-6 ">
      <img src="../../../assets/img/cursos-home.png" class="img-responsive" alt="">
    </div>
    <div class="servico-text col-md-6 servico-text-right">
        <h2>Cursos</h2>
        <p>Inumeros cursos online para você!</p>
    </div>
    <div class="detail bg-1"></div>
  </div>
</div>

  <div class="row">
    <div class="servico bg-2 col-md-8 col-sm-10 col-xs-12">
      <div class="servico-img col-md-6 img-right">
        <img src="../../../assets/img/hackathon-home.png" class="img-responsive" alt="">
      </div>
      <div class="servico-text col-md-6">
        <h2>Hackathon</h2>
        <p>Participe de desafios em grupos e desenvolva suas habilidades!</p>
      </div>
      <div class="detail bg-2"></div>
    </div>
  </div>

  <div class="row">
    <div class="servico bg-3 col-md-8 col-sm-10 col-xs-12">
      <div class="servico-img col-md-6">
        <img src="../../../assets/img/palestras-home.png" class="img-responsive" alt="">
      </div>
      <div class="servico-text col-md-6 servico-text-right">
        <h2>Palestras</h2>
        <p>Encontre as melhores palestras de seu interesse!</p>
      </div>
      <div class="detail bg-3"></div>
    </div>
  </div>

  <div class="row">
    <div class="servico bg-4 col-md-8 col-sm-10 col-xs-12">
      <div class="servico-text col-md-6">
        <h2>Workshops</h2>
        <p>Descrição dos workshops</p>
      </div>
      <div class="servico-img col-md-6 img-right">
        <img src="../../../assets/img/workshops-home.png" class="img-responsive" alt="">
      </div>
      <div class="detail bg-4"></div>
    </div>
  </div>
