<div class="container-fluid">
  <h1>Veja o que oferecemos!</h1>

  <div class="row col-xs-12 col-sm-8 wrapper-servicos">

    <div class="row">
      <div routerLink="/cursos" class="card col-xs-12 col-sm-6">
        <div class="image cursos"></div>
        <div class="text curso-detail">
          <h2>Cursos</h2>
          <p>Cursos online de diversas áreas.</p>
        </div>
      </div>

      <div routerLink="/hackathons" class="card col-xs-12 col-sm-6">
        <div class="image hackathons"></div>
        <div class="text hackathon-detail">
          <h2>Hackathons</h2>
          <p>Participe e se divirta em hackathons</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div routerLink="/palestras" class="card col-xs-12 col-sm-6">
        <div class="image palestras"></div>
        <div class="text palestra-detail">
          <h2>Palestras</h2>
          <p>Encontre as melhores palestras</p>
        </div>
      </div>

      <div routerLink="/workshops" class="card col-xs-12 col-sm-6">
        <div class="image workshops"></div>
        <div class="text workshop-detail">
          <h2>Workshops</h2>
          <p>Conheça novas pessoas e aprenda muita nos workshops</p>
        </div>
      </div>
    </div>




  </div>

</div>
